.header-bg {
  background: url("../../images/Super-real-Mario-Odyssey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  //   background: url('../../../images/bg-body.b26411b0eaaa.png');
  background: #e60012;
}

.top-bar {
  background: #e60012;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
  &-img {
    padding: 2rem 0;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
    }
  }
}

.text {
  &-top {
    text-align: left;
    text-transform: uppercase;
    padding: 1rem 0rem;
  }
  &-botton {
    font-size: 2rem;
    line-height: 2.1rem;
    max-width: 27.1rem;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
  }
}

.bounce {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  bottom: 20px;
  left: 46%;
  -webkit-animation: bounce 2s 10;
  animation: bounce 2s 10;
  cursor: pointer;
  color: #fff;
}

.char {
  background: #363636;

  @include breakpoint(mobile) {
    padding: 5rem 0;
  }
  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 10rem 0;
    padding-bottom: 60px;
    margin-bottom: -60px;
    padding-bottom: 20rem;
    @media (max-width: 330px) {
      padding: 5rem 0 0;
    }
  }
  &-grp {
    display: flex;
    flex-wrap: wrap;

    padding: 0 50px;
    @include breakpoint(tablet) {
      padding: 0 0px;
    }
  }
  &-box {
    background: #e60012;
    border-radius: 2.7rem;
    margin: 10px 20px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    &-img {
      width: 100%;
    }
    &-desc {
      background: #fff;
      color: #363636;
      font-size: 2rem;
      padding: 2rem 3rem;
      line-height: 2.5rem;
      text-align: center;
      border-radius: 0 0 2.7rem 2.7rem;
      padding-top: 3rem;
      height: 260px;
    }
  }
}

//Start Flip card
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 600px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

//End FLip Card

.slick-prev:before,
.slick-next:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
}
.slick-prev:before {
  content: "\f053";
}
.slick-next:before {
  content: "\f054";
}

.cadastro {
  padding: 0rem 0;
  margin-bottom: 15rem;
  &-box {
    background: url("../../images/bg-body.b26411b0eaaa.png");
    border-radius: 0.6rem;
    max-width: 108.2rem;
    width: 100%;
    margin: 0 auto;
    padding: 9rem 9rem;
    z-index: 20;
    @include breakpoint(tablet) {
      padding: 9rem 7rem;
    }
    @include breakpoint(mobile) {
      padding: 9rem 2rem;
      .ui-row {
        flex-wrap: wrap;
      }
      .ui-field {
        width: 100%;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-title {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 3.5rem;
      color: #e60012;
      font-weight: 700;
      text-align: center;
      margin-bottom: 5rem;
    }
    &-text {
      color: #363636;
      font-size: 2rem;
      font-weight: 2.1rem;
      margin-bottom: 5rem;
    }
  }
}

.contato__form {
  max-width: 55.6rem;
  width: 100%;
  margin: 0 auto;
}

.ui-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  &__mt {
    margin-top: 4rem;
  }
}
.ui-field {
  width: 48%;
  display: flex;
  flex-direction: column;
  &-f {
    width: 100%;
  }
}
.ui-input {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: #363636;
  border-radius: none;
  border: 1px solid rgba(54, 54, 54, 0.8);
  border-radius: 0.5rem;
  transition: 0.5s;
  &--textarea {
    resize: none;
    width: 100%;
  }
  &:focus {
    border-color: rgba(230, 0, 18, 0.5);
  }
}
.ui-label {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.ui-label {
  color: #363636;
}
.ui-button {
  background: #e60012;
  max-width: 24.8rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  @include breakpoint(mobile) {
    max-width: 100%;
  }
}

#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 25px;
  border-radius: 100%;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  transition: 1s;
}
#button:hover {
  cursor: pointer;
  background-color: #fff;
  &::after {
    color: #363636;
  }
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

//video
.bg_video {
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  @include breakpoint(laptop) {
    display: none;
  }
}

@include breakpoint(tablet) {
  .bg_video {
    display: none;
  }
}

@include breakpoint(laptop) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

.jumbotron {
  width: 40rem;
  height: 100%;
  background: rgba(230, 0, 18, 0.6);
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  @include breakpoint (mobile){
    width: 100%;
  }
  .itens-center {
    padding: 0 2rem;
    margin: 0 auto;
  }
  &-img{
    width: 100%;
  }
}
