/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
}

.inner-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 240px);
}

@keyframes moveDown {
  0% {
    opacity: 0;
    top: -5rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
/* Safari */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

.header-bg {
  background: url("../../images/Super-real-Mario-Odyssey.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

body {
  background: #e60012;
}

.top-bar {
  background: #e60012;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.75);
}
.top-bar-img {
  padding: 2rem 0;
  margin: 0 auto;
  cursor: pointer;
}
.top-bar-img:hover {
  animation: jello-horizontal 0.9s both;
}

.text-top {
  text-align: left;
  text-transform: uppercase;
  padding: 1rem 0rem;
}
.text-botton {
  font-size: 2rem;
  line-height: 2.1rem;
  max-width: 27.1rem;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}

.bounce {
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  bottom: 20px;
  left: 46%;
  animation: bounce 2s 10;
  cursor: pointer;
  color: #fff;
}

.char {
  background: #363636;
}
@media (max-width: 500px) {
  .char {
    padding: 5rem 0;
  }
}
.char__container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 0;
  padding-bottom: 60px;
  margin-bottom: -60px;
  padding-bottom: 20rem;
}
@media (max-width: 330px) {
  .char__container {
    padding: 5rem 0 0;
  }
}
.char-grp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 50px;
}
@media (max-width: 780px) {
  .char-grp {
    padding: 0 0px;
  }
}
.char-box {
  background: #e60012;
  border-radius: 2.7rem;
  margin: 10px 20px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.char-box-img {
  width: 100%;
}
.char-box-desc {
  background: #fff;
  color: #363636;
  font-size: 2rem;
  padding: 2rem 3rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 0 0 2.7rem 2.7rem;
  padding-top: 3rem;
  height: 260px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 300px;
  height: 600px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slick-prev:before,
.slick-next:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
}

.slick-prev:before {
  content: "\f053";
}

.slick-next:before {
  content: "\f054";
}

.cadastro {
  padding: 0rem 0;
  margin-bottom: 15rem;
}
.cadastro-box {
  background: url("../../images/bg-body.b26411b0eaaa.png");
  border-radius: 0.6rem;
  max-width: 108.2rem;
  width: 100%;
  margin: 0 auto;
  padding: 9rem 9rem;
  z-index: 20;
}
@media (max-width: 780px) {
  .cadastro-box {
    padding: 9rem 7rem;
  }
}
@media (max-width: 500px) {
  .cadastro-box {
    padding: 9rem 2rem;
  }
  .cadastro-box .ui-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cadastro-box .ui-field {
    width: 100%;
    margin-bottom: 2rem;
  }
  .cadastro-box .ui-field:last-child {
    margin-bottom: 0;
  }
}
.cadastro-box-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #e60012;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
}
.cadastro-box-text {
  color: #363636;
  font-size: 2rem;
  font-weight: 2.1rem;
  margin-bottom: 5rem;
}

.contato__form {
  max-width: 55.6rem;
  width: 100%;
  margin: 0 auto;
}

.ui-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 2rem;
}
.ui-row__mt {
  margin-top: 4rem;
}

.ui-field {
  width: 48%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.ui-field-f {
  width: 100%;
}

.ui-input {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  color: #363636;
  border-radius: none;
  border: 1px solid rgba(54, 54, 54, 0.8);
  border-radius: 0.5rem;
  transition: 0.5s;
}
.ui-input--textarea {
  resize: none;
  width: 100%;
}
.ui-input:focus {
  border-color: rgba(230, 0, 18, 0.5);
}

.ui-label {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.ui-label {
  color: #363636;
}

.ui-button {
  background: #e60012;
  max-width: 24.8rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}
.ui-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.ui-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
@media (max-width: 500px) {
  .ui-button {
    max-width: 100%;
  }
}

#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 25px;
  border-radius: 100%;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  transition: 1s;
}

#button:hover {
  cursor: pointer;
  background-color: #fff;
}
#button:hover::after {
  color: #363636;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.bg_video {
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
@media (max-width: 1030px) {
  .bg_video {
    display: none;
  }
}

@media (max-width: 780px) {
  .bg_video {
    display: none;
  }
}
@media (max-width: 1030px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }
}
.jumbotron {
  width: 40rem;
  height: 100%;
  background: rgba(230, 0, 18, 0.6);
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 500px) {
  .jumbotron {
    width: 100%;
  }
}
.jumbotron .itens-center {
  padding: 0 2rem;
  margin: 0 auto;
}
.jumbotron-img {
  width: 100%;
}
